.table-dark {
    color: #fff;
    background-color: #333;
	margin:10px;
    float:left;
}

    .table-dark thead {
        background-color: #222;
    }

.table-dark>tbody>tr>td, .table-dark>tbody>tr>th, .table-dark>tfoot>tr>td, .table-dark>tfoot>tr>th, .table-dark>thead>tr>td, .table-dark>thead>tr>th {
	border-color: #444;
    text-align: center;
}

.table-dark td:has(input[type=number]) {
    padding: 4px;
}

.table-dark td:has(select) {
    padding: 4px !important;
}

.table-dark td:has(input[type=checkbox]) {
    padding: 6px;
}

.table-dark td:has(a) {
    padding: 4px !important;
	vertical-align: middle !important;
}

.table-dark td:has(input[type=datetime-local]) {
    padding: 4px;
}

.grey {
	color: #999;
}

table.dataTable {
	width: fit-content;
}

.dataTables_length>label, .dataTables_filter>label {
    vertical-align: -webkit-baseline-middle;
    margin: 0;
}

.dataTables_wrapper {
	margin:10px;
}

.abutton {
    display: block;
    width: 100%;
    font-size: 20px;
	color: #999;
}

.abutton:hover {
    display: block;
    width: 100%;
    font-size: 20px;
	color: #fff;
	border-bottom: 0px;
	text-decoration: none;
}

.newrow > td > a, .deleterow > a {
    display: block;
    width: 100%;
    font-size: 20px;
	color: #999;
}

.deleterow > a {
	font-size: 16px;
	margin: 2px 0px;
}

.newrow > td > a:hover, .newrow > td > a:focus, .deleterow > a:hover, .deleterow > a:focus {
    display: block;
    width: 100%;
    font-size: 20px;
	color: #fff;
	border-bottom: 0px;
	text-decoration: none;
}

.deleterow > a:hover, .deleterow > a:focus {
	font-size: 16px;
	margin: 2px 0px;
}